h1 {
    color:rgb(0, 0, 0);
}
p.texto{
    color:slateblue;
}
p.especial{
    color:springgreen;
}
h2{
    color:violet;
}
p.mas{
    color:black;
}
p.menos{
    color:blue;
}
div p {
    color:rgb(0, 167, 111);
}
div h3, div h4 {
    color:brown;
}

* {
   font-size: 24px;
}


/* Esto es un comentario que no aparecera en pantalla
para el usuario!!!

.color {
    color: #000000
    } 
.color{
    color: rgb(53, 228, 228);
}*/

.color {
    /* border: 20px red outset; */
    border-radius: 5px; 
    border-style:solid;
    border-color:blue;
    border-width: 1rem;

}

#fondo {
    /* background-color: rgb(255, 0, 0); */
    /* opacity: 0.3; */
    height: 300px;
    background-image: url('images/tattoo.png');
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: center;
}
.margen{
    background-color: rgb(214, 93, 13);
    margin: 15px ;
    padding: 30px 15px ;
    border: solid 2px black;
    height: 50px;
    width: 150px;
    outline: 1px solid red;
}

.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center ;
    text-decoration: underline;
    text-shadow: 3px 5px 5px black;
}

a:link {
    color: blueviolet;
}

a:visited {
    color:gray;
}

a:hover{
    color:green;
}

a:active{
    color:red;
}

ul {
    background-color: cyan;
    list-style-type: none;
    padding-left: 0;
    /* list-style-position: inside; */

}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: solid 1px #eee;
    padding: 5px;
}

th{
    background-color:purple;
    color:white;
}

tr:nth-child(even) {
    background-color:#eee;
}

tr:hover {
    background-color: #aaa;
    cursor: pointer;
}
/* para ocultar es visibility: hidden; o display: none; */
span {
    display: block;
    max-width: 300px;
    background-color: #eee
}

.inline { 
    display: inline;
}

.left{
    float: left;
}

/* .right{
    float: right;
} */

.conteiner{
    height: 200px
}

.center{
    text-align: center;
    width: 600px;
    height: 2rem;
    margin:0 auto;
    background-color: thistle;

}